[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "resources/4810-19-fall/09-service-maildns/roles/ansible-role-bind"]
	path = resources/4810-19-fall/09-service-maildns/roles/ansible-role-bind
	url = https://github.com/bertvv/ansible-role-bind.git
